{:kotoba.app/id "cloud.itonami.isic-2670", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiejwlyopzz7nofzeiz46b7jzuxj7pjhifs5v3wh66giwofai2zkqa", :kotoba.app/embed-url "ipfs://bafkreiejwlyopzz7nofzeiz46b7jzuxj7pjhifs5v3wh66giwofai2zkqa", :published {:archive "https://kotobase.net/ipfs/bafkreiejwlyopzz7nofzeiz46b7jzuxj7pjhifs5v3wh66giwofai2zkqa", :size 72796, :put-status 201, :get-status 200, :at "2026-08-15T13:58:49.247Z"}}
